<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Average Income by Category</title>
</head>
<body>
    <h1>Average Income by Category</h1>
    <table>
        <tr>
            <th>Device Type</th>
            <th>Average Income</th>
        </tr>
        {% for item in df %}
        <tr>
            <td>{{ item.device__serial_number }}</td>
            <td>{{ item.average_income }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
