<form action="{{ url_for('edit_client', client_id=client['id']) }}" method="POST">
    <input type="text" name="name" value="{{ client['name'] }}" required>
    <input type="text" name="surname" value="{{ client['surname'] }}" required>
    <input type="text" name="phone_number" value="{{ client['phone_number'] }}" required>
    <input type="email" name="email" value="{{ client['email'] }}" required>
    <input type="text" name="address" value="{{ client['address'] }}" required>
    <input type="submit" value="Update">
</form>
